*.editorconfig
*.v2
*.vsidx
/.gitignore
*.lock
*.suo
*.dll
*.cache
/packages/Magick.NET.Core.13.3.0/.signature.p7s
/packages/Magick.NET.Core.13.3.0/Copyright.txt
/packages/Magick.NET.Core.13.3.0/Magick.NET.Core.13.3.0.nupkg
/packages/Magick.NET.Core.13.3.0/Magick.NET.icon.png
/packages/Magick.NET.Core.13.3.0/docs/Readme.md
/packages/Magick.NET.Core.13.3.0/lib/netstandard20/Magick.NET.Core.xml
/packages/Magick.NET.Core.13.3.0/lib/netstandard21/Magick.NET.Core.xml
*.dylib
*.bin
*.user
/packages/Magick.NET-Q16-AnyCPU.13.3.0/.signature.p7s
/packages/Magick.NET-Q16-AnyCPU.13.3.0/Magick.NET-Q16-AnyCPU.13.3.0.nupkg
/packages/Magick.NET-Q16-AnyCPU.13.3.0/Magick.NET.icon.png
/packages/Magick.NET-Q16-AnyCPU.13.3.0/Notice.linux-musl.txt
/packages/Magick.NET-Q16-AnyCPU.13.3.0/Notice.linux.txt
/packages/Magick.NET-Q16-AnyCPU.13.3.0/Notice.osx.txt
/packages/Magick.NET-Q16-AnyCPU.13.3.0/Notice.win.txt
/packages/Magick.NET-Q16-AnyCPU.13.3.0/build/netstandard20/Magick.NET-Q16-AnyCPU.targets
/packages/Magick.NET-Q16-AnyCPU.13.3.0/docs/Readme.md
/packages/Magick.NET-Q16-AnyCPU.13.3.0/lib/netstandard20/Magick.NET-Q16-AnyCPU.xml
/packages/Magick.NET-Q16-AnyCPU.13.3.0/lib/netstandard21/Magick.NET-Q16-AnyCPU.xml
/packages/Magick.NET-Q16-AnyCPU.13.3.0/runtimes/linux-arm64/native/Magick.Native-Q16-arm64.dll.so
/packages/Magick.NET-Q16-AnyCPU.13.3.0/runtimes/linux-musl-x64/native/Magick.Native-Q16-x64.dll.so
/packages/Magick.NET-Q16-AnyCPU.13.3.0/runtimes/linux-x64/native/Magick.Native-Q16-x64.dll.so
/HSR_SIM_GUI/bin/
/HSR_SIM_GUI/obj/
/HSR_SIM_LIB/bin/
/HSR_SIM_LIB/obj/
/HSR_SIM.sln.DotSettings